<%= simple_form_for(@user, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <div class="modal-body">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :mobile %>
    <%= f.input :age %>
    <%= f.label  'Date of Birth' %>
    <%= f.text_field :dob, data:{ provide:'datepicker' }, :id => "datepicker", :class => "form-control" %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>


<!--<script>-->
<!--    jQuery(function() {-->
<!--        var completer;-->

<!--        completer = new GmapsCompleter({-->
<!--            inputField: '#gmaps-input-address',-->
<!--            errorField: '#gmaps-error'-->
<!--        });-->

<!--        completer.autoCompleteInit({-->
<!--            country: "us"-->
<!--        });-->
<!--    });-->
<!--</script>-->