<%= simple_form_for(@user, remote: request.xhr?, html: { data: { modal: true } }) do |user| %>
  <div class="modal-body">
    <%= user.input :first_name %>
    <%= user.input :last_name %>
    <%= user.input :email %>
    <%= user.input :mobile %>
    <%= user.input :age %>
    <div class="form-group">
    <%= user.label  'Date of Birth' %>
    <%= user.text_field :dob, data:{ provide:'datepicker' }, :id => "datepicker", :class => "form-control" %>
    </div>

    <%= render partial: "locations/form" , locals: { user: user } %>

  </div>

  <div class="modal-footer">
    <%= user.button :submit, class: 'btn-success' %>
  </div>
<% end %>
