<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>

          <%= f.hidden_field :address %>

          <%= f.hidden_field  :location_name %>

          <%= f.hidden_field  :phone_number %>

          <%= f.hidden_field  :district %>

          <%= f.hidden_field  :postcode %>

          <%= f.hidden_field  :city %>

          <%= f.hidden_field  :country %>

          <%= f.hidden_field  :lat %>

          <%= f.hidden_field  :lng %>

        <%= f.submit "Save Location", class: 'btn' %>

    <div class="span7">
      <% if @location.errors.any? %>
        <div class="notice">
          <h3>Errors</h2>
          <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


        <%= label_tag :search, "Search For Address" %>
        <%= text_field_tag :location_search, nil, class: "span12 search-query", type: "search" %>


      <%= render partial: "googlemap" %>

<% end %>
